.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer-left {
  width: 264px;
  max-width: 264px;
  margin-right: 120px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2e2f42;
  line-height: 1.33;
}

.logo .accent {
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials .icons-links {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.media-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.media-color:hover,
.media-color:focus {
  background-color: #31d0aa;
}
