.portfolio {
  padding: 120px 0px;
}

.portfolio-image img {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.description {
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.profession {
  font-family: Roboto;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession-description {
  color: #434455;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container-portfolio {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-portfolio {
  display: block;
}

.flex-portfolio-description {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 0;
  margin: 0;
}

.item {
  width: calc((100% - 48px) / 3);
}

.project-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item:hover .overlay {
  transform: translateY(0);
}

.overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: transform 250ms ease-in-out;
}
