.portfolio {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}

ul {
  list-style: none;
}

.description {
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
}

.profession {
  font-family: Roboto;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 16px;
}

.profession-description {
  color: #434455;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 32px 16px;
}

.container-portfolio {
  padding: 120px 121px;
  width: 1440px;

  display: flex;
  justify-content: center;
  margin: auto;
}

.list-portfolio {
  padding: 0px 156px 120px;
  width: 1158px;
  max-width: 1158px;
}

.flex-portfolio-description {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  padding: 0px 15px;
  width: 1128px;
  height: 888px;
  gap: 48px 24px;
}

.item {
  width: calc((100% - 48px) / 3);
  justify-self: center;
  align-items: center;
}

.project-list {
}
